<h1>Edit a Task</h1>

<%= form_for @task, method: :patch do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completed_at %>
  <%= f.date_field :completed_at %>

  <%= f.submit "Update"%>

<% end %>

<h4>Don't want to edit anymore, <%= link_to "Go Back to All Tasks", tasks_path %></h4>
