<h1>Tasks:</h1>
<ol>
  <% @all_tasks.each do | item | %><li>
    <h3>
      <%= link_to "#{item.title}", task_path(item.id) %>
    </h3>
    <p>
      Completed:
      <% if item.completed_at != nil %>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
        <%= button_to "completed", task_path(item), method: :patch,
                          data: { confirm: "Do you want to mark this task as completed?" } %>
      <% end %>
    </p>
    <p>
      <%= button_to "edit", task_edit_path(item), method: :get %>
      <%= button_to "delete", task_path(item.id), method: :delete,
                        data: { confirm: "Are you sure you want to delete this task?" } %>
    </p>
  <% end %></li>
</ol>

<%= button_to "Add a new task", tasks_new_path, method: :get %>
