<h1>Tasks:</h1>
<ol>
  <% @all_tasks.each do | item | %><li>
    <h3>
      <%= link_to "#{item.title}", task_path(item.id) %>
      <%= link_to "(edit)", task_edit_path(item) %>
      <%= link_to "(delete)", task_delete_path(item) %>

    </h3>
    <p> Completed on: <%= item.completed_at %></p>
  <% end %></li>
</ol>

<%= link_to "Add a new task", tasks_new_path %>
