<h3>Task List:</h3>
<%= button_to "Add a new task", tasks_new_path, method: :get %>

<ol>
  <% @all_tasks.each do | item | %><li>
    <h4>
      <%= link_to "#{item.title}", task_path(item.id) %>
    </h4>

    <p>
      Completed:
      <% if item.task_completed? %>
        <%= "Yes" %>
      <% else %>
        <%= "No" %>
        <%= button_to "mark completed", task_completed_path(item.id), method: :patch,
                        data: { confirm: "Do you want to mark this task as completed?" } %>
      <% end %>
    </p>

    <p>
      <%= button_to "edit", task_edit_path(item), method: :get %>
      <%= button_to "delete", task_path(item.id), method: :delete,
                      data: { confirm: "Are you sure you want to delete this task?" } %>
    </p>
  <% end %></li>
</ol>
