<h1>Add a New Task:</h1>

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completed_at %>
  <%= f.date_field :completed_at %>

  <!-- <%= f.submit %>
  or if you want to define what the text on the submit button is, do the following: -->
  <%= f.submit "Create a Task"%>
<% end %>

<h4>Don't want to add a task, then <%= link_to "Go Back to All Tasks", tasks_path %></h4>
