<h3>
  <%= @task.title%>
  <%= link_to "(edit)", task_edit_path(@task.id) %>
</h3>
  <ul>
    <li><strong>Description: </strong><%= @task.description %></li>
    <li><strong>Completion Date: </strong><%= @task.date_view %></li>
  </ul>

<%= link_to "Go Back to All Tasks", tasks_path %>
